
.parent {
  display: grid;
  grid-template-columns: repeat(14, 1fr); 
  grid-template-rows: repeat(11, 1fr);
  gap: 10px;
  padding: 10px;
  height: 100vh;
  
}
body {
  body {
    background-color: #f0f0f0;

}

.div1 {
  
  grid-column: 1 / 14;
  grid-row: 1 / 2;
  font-size: 2rem;      
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcc00;
  color: #ffffff;
}

.div2 {

  grid-column: 1 / 7;
  grid-row: 2 / 4;
}

.div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div3, #bengal {
  
  grid-column: 7 / 9;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
}

.div4 {
  
  grid-column: 9 / 14;
  grid-row: 2 / 4;
}

.div4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div5 {
  
  grid-column: 4 / 11;
  grid-row: 4 / 8;
  border-radius: 25px;
}

.div6 {
  
  grid-column: 11 / 14;
  grid-row: 4 / 8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#so-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gif-container {
  background-color: gray; 
  grid-column: 1 / 4;
  grid-row: 6 / 8;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

#gif-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div8 {
  
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}

.div8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div9 {
  
  grid-column: 1 / 14;
  grid-row: 8 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.div10, .div11 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.div10 {
  grid-column: 1 / 7;
  grid-row: 9 / 11;
}

.div11 {
  grid-column: 7 / 14;
  grid-row: 9 / 11;
}

.div10 img, .div11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div16 {
  
  grid-column: 1 / 14;
  grid-row: 11 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink
}

#c {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;          
  font-size: 2rem;      
  font-weight: bold;
  background-color: white
  
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}
